.game-scores {
    background: #24A5D3;
    padding: 140px 65px 80px 40px;
    height: 100%;
}

.game-scores__empty {
    color: #fff;
    background: #ff6666;
    padding: 10px 18px;
    border-radius: 3px;
}

.game-scores__list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
}

.game-scores__list-item {
    padding: 15px 18px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    background: #fff;
}

.game-scores__item-players {
    margin-bottom: 10px;
}

.game-scores__list-item h4 {
    margin: 0;
}

.game-scores__list-item h2 {
    margin: 0 0 10px;
}

.game-scores__list-item__detail {
    display: block;
    font-size: 15px;
}

@media screen and (max-width: 898px) {
    .game-scores__list {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 540px) {
    .game-scores__list {
        grid-template-columns: 100%;
    }

    .game-scores {
        padding: 120px 12px 12px;
    }
}