.player {
    text-align: center;
}

.player h2 {
    margin: 0;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.09);
    transition: all .15s ease-in-out;
}

.player h2.current {
    background: #00D498;
    transition: all .15s ease-in-out;
}

.player h3 {
    margin: 10px 0;
}